.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  top: 0 ;
  padding: 5px 0px 4px 0px;
  border-bottom: 1px solid rgba(136, 131, 131, 0.338);
  background-color: white;
  z-index: 1;
  height: 50px;
}

.left-section{
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

.left-section img{
  width: 83px;
  object-fit: cover;
}

.left-section i{
  font-size: 25px;
}

.left-section p{
  font-size: 20px;
  font-family: sans-serif;
}

.middle-section{
  width: 0px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 30px;
  position: relative;
}

.middle-section input{
  width: 600px;
  min-width: 100px;
  padding: 15px 14px 8px 20px;
  border: 1px solid rgba(149, 149, 149, 0.325);
  border-right: none;
  border-radius: 50px;
  box-shadow: inset 1px -1px 3px rgba(128, 128, 128, 0.066);
  outline: none;
}

.middle-section input::placeholder{
  font-size: 18px;
}

.right-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  flex-shrink: 1;
  padding-right: 10px;
}

.right-section img{
  border-radius: 50px;
  width: 40px;
}

.right-section i{
  position: relative;
  font-size: 20px;
  padding: 15px;
  transition: .2s ease-in-out;
  border-radius: 50%;
}

.right-section i:hover{
  background-color: rgba(128, 128, 128, 0.111);
}

.micro{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: none;
  font-size: 18px;
  position: relative;
}

.micro .tooltip{
  position: absolute;
  bottom: -37px;
  font-size: 11px;
  background-color: gray;
  color: white;
  border-radius: 3px;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.micro:hover .tooltip{
  opacity: 1;
  
}

.right-section #bell::after{
  content: "3";
  position: absolute;
  top: 5px;
  right:5px;
  padding: 4px 7px;
  border-radius: 50%;
  background-color: rgb(197, 7, 7);
  font-size: 11px;
  color: white;
  font-family: sans-serif;
  font-weight: 1;
} 

@media (max-width:650px) {
  .header{
    height: 50px;
  }
  .left-section{
    padding-left: 0;
    justify-content: flex-start;
  }
  .left-section i{
    margin: 0px 10px;
  }
  .right-section{
    width: 175px;
  }
  .middle-section{
    display: none;
  }
}
