.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  top: 0 ;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.351);
  background-color: white;
  z-index: 1;
}

.left-section{
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

.left-section img{
  width: 140px;
  height: px;
  object-fit: cover;
}

.left-section i{
  font-size: 25px;
}

.left-section p{
  font-size: 20px;
  font-family: sans-serif;
}

.middle-section{
  width: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 30px;
}

@media (max-width:650px) {
  .header{
    height: 50px;
  }
  .middle-section{
    display: none;
  }
}

.middle-section input{
  flex: 1;
  padding: 15px 0px 15px 10px;
  border: 2px solid rgba(0, 0, 0, 0.325);
  border-right: none;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(128, 128, 128, 0.15);
  outline: none;
  width: 0;
}

.middle-section input::placeholder{
  font-size: 18px;
}

.middle-section label{
  border: 2px solid rgba(0, 0, 0, 0.266);
  width: 70px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.052);
  color: rgba(0, 0, 0, 0.659);
  border-radius: 2px;
  margin-left: -2px;
}

.middle-section label:hover{
  background-color: rgba(128, 128, 128, 0.279);
}

.right-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  flex-shrink: 0;
  padding-right: 10px;
}

.right-section img{
  border-radius: 50px;
  width: 40px;
}

.right-section i{
  font-size: 18px;
  position: relative;
  font-size: 20px;
}

.micro{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: none;
  font-size: 18px;
  position: relative;
}

.micro .tooltip{
  position: absolute;
  bottom: -37px;
  font-size: 11px;
  background-color: gray;
  color: white;
  border-radius: 3px;
  padding: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.micro:hover .tooltip{
  opacity: 1;
  
}

.right-section #bell::after{
  content: "3";
  position: absolute;
  top: -9px;
  right: -10px;
  padding: 4px 7px;
  border-radius: 50%;
  background-color: rgb(197, 7, 7);
  font-size: 11px;
  color: white;
  font-family: sans-serif;
  font-weight: 1;
} 
